body {
  overflow: hidden;
}

body.night {
  background-color: black;
  color: white;
}

h1 {
  font-size: 640%;
  border-style: none;
  line-height: .9;
  transform: rotate(-15deg);
  margin-left: -0.2em;
  width: 130%;
}